:root {
  --desktop-item-panel-max-width: 300px;
  --desktop-item-panel-min-width: 200px;
  --desktop-large-panel-width: 900px;
  --desktop-panel-min-height: 200px;
  --desktop-panel-max-height: 600px;
}

/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 3;
  position: fixed;
  border-bottom: 1px solid var(--color-neutral-300);
  box-shadow: 0 8px 24px rgb(106 64 128 / 8%);
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools wrapperPopUpButton' var(--nav-height) 'sections sections sections ...' 1fr / auto 1fr auto auto;
  align-items: center;
  gap: 0 16px;
  margin: auto;
  max-width: 1248px;
  height: var(--nav-height);
  padding: 0 24px;
  font-family: var(--type-base-font-family);
}

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height) 'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100dvh;
}

@media (min-width: 900px) {
  header .nav-wrapper {
    position: relative;
  }

  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    max-width: 1264px;
    padding: 0 32px;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  cursor: pointer;
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--color-neutral-50);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger button:hover,
header nav .nav-hamburger button:focus,
header nav .nav-sections .default-content-wrapper>ul>li:hover,
header nav .nav-sections .default-content-wrapper>ul>li:focus-within {
  background-color: var(--color-neutral-200);
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (min-width: 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header nav .nav-brand {
  min-width: 128px;
}

header nav .nav-brand a {
  grid-area: brand;
  flex-basis: 128px;
  font: var(--type-headline-1-font);
  letter-spacing: var(--type-headline-1-letter-spacing);
  font-weight: bold;
}

li.nav-drop img {
  max-width: var(--desktop-item-panel-max-width);
  width: 100%;
  height: auto;
  object-fit: contain;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  font: var(--type-body-2-strong-font);
  letter-spacing: var(--type-body-2-strong-letter-spacing);
  list-style: none;
  padding-left: 0;
}

header nav .nav-sections ul>li,
header nav .nav-sections ul>li>a {
  font: var(--type-body-2-strong-font);
  letter-spacing: var(--type-body-2-strong-letter-spacing);
}

header nav .nav-brand a:hover {
  text-decoration: none;
}

header nav .nav-sections ul>li ul {
  margin-top: 0;
}

header nav .nav-sections ul>li ul>li {
  font-weight: 400;
}

header nav .nav-sections ul>li:empty {
  display: none;
}

@media (min-width: 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header .nav-drop {
    align-self: center;
  }

  header nav .nav-sections .default-content-wrapper>ul>li,
  header nav .nav-sections .nav-drop {
    border-radius: 4px;
    padding: 0 var(--spacing-small);
  }

  header nav .nav-sections .default-content-wrapper>ul>li a {
    text-decoration: none;
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 24px;
    margin: 0;
  }

  header nav .nav-sections .default-content-wrapper>ul>li ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true'] ul {
    flex-flow: column wrap;
    max-height: calc(var(--desktop-panel-max-height) - 2 * var(--spacing-xbig));
    min-height: calc(var(--desktop-panel-min-height) - 2 * var(--spacing-xbig));
  }

  header nav .nav-sections .default-content-wrapper>ul>li {
    flex: 0 1 auto;
  }

  header nav .nav-sections .default-content-wrapper>ul>li[aria-expanded='true'] .submenu-wrapper {
    background-color: var(--color-neutral-50);
    box-sizing: border-box;
    left: 0;
    max-height: var(--desktop-panel-max-height);
    min-height: var(--desktop-panel-min-height);
    padding: var(--spacing-xbig);
    position: absolute;
    top: var(--spacing-large);
    width: 100%;
  }

  header nav .nav-sections .default-content-wrapper>ul>li .submenu-header {
    display: none;
  }

  header nav .nav-sections ul>li.nav-drop .submenu-title,
  header nav .nav-sections ul>li.nav-drop .submenu-header * {
    display: none;
    font: var(--type-body-1-emphasized-font);
  }

  header nav .nav-sections .default-content-wrapper>ul>li[aria-expanded='true'] ul {
    display: flex;
    margin: 0 auto;
    overflow-x: auto;
    width: var(--desktop-large-panel-width);
  }

  header nav .nav-sections .default-content-wrapper>ul>li ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--color-neutral-500);
  }

  header nav .nav-sections .default-content-wrapper>ul>li[aria-expanded='true'] ul::before {
    border-bottom-color: var(--color-neutral-50);
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  display: flex;
  flex-wrap: wrap;
  gap: 0 16px;
  margin-left: auto;
  justify-content: flex-end;
}

header nav .nav-tools > * {
  display: flex;
  align-items: center;
  gap: 8px;
}

header nav .nav-tools .cart-badge {
  background-color: var(--color-brand-700);
}
